@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(135deg, #ffcc33, #ff6699, #6699ff, #33ccff);
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

#root {
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 40%;
  padding: 24px;
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform: translateY(-50px);
}

.button-container {
  margin-top: 20px;
}

